body.recipes {
  padding-top: 50px;
}
.intro {
  padding: 40px 15px;
  text-align: center;
}
#recipe-index li {margin-top: .3em;}
.margintop {margin-top: 1.7em;}
.marginleft {margin-left: 2.5em;}

#home-auth-section {background-color: #d7e5fb; padding: 30px}
#auth-params {margin-top: 20px; display:none;}
#unauthenticate {display:none; margin-left: 20px;}
.feedback, #options {display: none;}
span.feedback {margin-left:2em;}
.alert {margin-top:20px;}
.newdata {font-style: italic;} /* value of the data has changed! */
#status_left {background-color: #B9CEF3;}	
#working {margin-top: 20px;}
.workinghide {color: #B9CEF3;}
.workingshow {color: black;}
#options-form {margin-top: 3em; display: none;}
#options-form .panel-body {background-color: #d7e5fb;}
.navbar {margin-bottom: 0px;}
a.wh {margin-right:1.5em;} /* webhook button */

img.bordered {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 2px solid blueviolet;
  }

.toc_item {
	border-bottom-color: white;
	border-bottom-width: .2em;
	border-bottom-style: solid;
	margin-bottom: .4em;
	padding-left: 1em;
	padding-bottom: .4em;
	padding-top: .4em;
}

.toc_item:hover {background-color: #85A8EA; cursor: pointer;}
.toc-instructions {
    margin-top: 2em; color: blueviolet; font-style: italic;} /* Instructions for user */


#editor {height: 300px;}

@media (max-width: 991px) { /* add some vertical padding for smaller screens */
  [class*="col-"]{
      margin-bottom: 15px;
  }
}

/* From http://tobiasahlin.com/spinkit/ */
.spinner {
  margin: 100px auto;
  width: 150px;
  height: 140px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: blueviolet;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}