<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <div class="api_logs" xmlns="http://www.w3.org/1999/html"></div>
    <h1>API Logs</h1>
    <p><form><p>When logging is activated, the DocuSign platform stores up to 50 log entries at a time. Download the log entries to enable more logging.
    The platform logs all API calls for your account, including those from other clients. To only see your app’s
    calls, add an <i>X-ray</i> header to your calls.
    <input type="checkbox" id="only-x-ray-check" class="inline-checkbox" checked>Only show X-ray calls</input>
    <input type="checkbox" id="omit-content" class="inline-checkbox" checked>Omit base64 document content</input>
    </form></p>
    <p id="status">Platform logging status: <span id="logging-status">tbd</span><span></span></span><a href="#" id="logging-status-refresh" class="marginleft">Refesh</a>
        <button type="button" class="btn btn-primary marginleft" id="logging-download" data-feedback="feedback-download">Download Latest Logs</button>
        <span id="feedback-download"></span><span></span>
    </p>
    <p></p>

    <div class="row fill">
    	<div class="wrapper">
      	  <div id="status_left" class="col-md-3">
    		  <p><span id="working">Working...</span><span></span></p>
    		  <ul id="toc" class="list-unstyled"></ul>
    		  <ul class="margintop"><li>Click on an entry to view it</li></ul>
    	  </div>
      	  <div id="right_column" class="col-md-9">
    		  <div id="item_info"></div>
    		  <div id="editor"></div>
    		  <p class="margintop">&nbsp;</p>
    	  </div>
    	<div>
    </div>

    {% raw %}
    <script>
        // Mustache template for toc entries
        // See https://github.com/janl/mustache.js
        //    success: boolean -- was the call successful?
        //    url: the url for retrieving the call
        //    file_name: the raw file_name. Can be used for sorting the entries
        //    x_ray: false if no x_ray header. Otherwise the contents of the header
        //    method: GET, POST, etc
        //    request_url: the complete request url
        //    method_name: the method name used in the log file name
        //    head: the NOT uuencoded first 1500 bytes of the log entry
        //    date_time: the call was made before this time
    </script>
    <script id="toc_item_template" type="x-tmpl-mustache">
    <li class="toc_item" data-toggle="tooltip" data-placement="right" title="Request {{ request_url }}">
    	<div class="sm-circle {{css_class}}"></div><span class="http-method">{{method}}</span>
    	<p>{{ method_name }}</p>
    </li>
    </script>

    <!-- Mustache template for displaying a log entry -->
    <!-- XML in Ace editor, see http://stackoverflow.com/a/16147926/64904 -->
    <script>
        // Parse the item into parsed: {
        //   raw
        //   request: {
        //      method
        //      method_name: // from name of log file
        //      date_time:   // request was before this time
        //      url
        //      headers
        //      content_type
        //      content_type_json: boolean // is the request content-type JSON?
        //      content_type_multipart: boolean
        //      json_ok: boolean // Does the JSON parse?
        //      body
        //      json // the request, parsed into a json object (iff json_ok)
        //   response: {
        //      success:  // boolean, a successful request?
        //      status:   // eg "201 Created"
        //      headers
        //      content_type
        //      content_type_json: boolean // is the response content-type JSON?
        //      content_type_multipart: boolean
        //      json_ok: boolean // Does the JSON parse?
        //      body
        //      json // the response, parsed into a json object (iff json_ok)
    </script>
    <script id="item_template" type="x-tmpl-mustache">
    	<h4>{{ request.url }}</h4>
    	<p>{{ request.method }}</p>
    	<p><pre>

    	Headers:
{{ request.headers }}

    	Content type: {{ request.content_type }}
    	Json? {{ request.content_type_json }}
    	Multipart? {{ request.content_type_multipart }}
    	Request body:
{{ request.body }}

    	RESPONSE
    	success: {{ response.success }}
    	status: {{ response.status }}

    	Headers:
{{  response.headers }}

    	Content type: {{ response.content_type }}
    	Json? {{ response.content_type_json }}
    	Multipart? {{ response.content_type_multipart }}
    	Response body:
{{ response.body }}
    	</pre></p>

    </script>
    {% endraw %}
    
{% endblock %}
